*{
  margin: 0;
  font-family: "Raleway", sans-serif;

}

/* Specific targeting for Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Targeting Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
